<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>553541797652-o8m623u1kbikr2bobahp5sop663boegq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553541797652-o8m623u1kbikr2bobahp5sop663boegq</string>
	<key>API_KEY</key>
	<string>AIzaSyDEUINeHgfPIaoMb5fzH9QMkcP4xgc-7TA</string>
	<key>GCM_SENDER_ID</key>
	<string>553541797652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>siquare.Slash</string>
	<key>PROJECT_ID</key>
	<string>slash-a5e42</string>
	<key>STORAGE_BUCKET</key>
	<string>slash-a5e42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553541797652:ios:68fdd69e89d9c552</string>
	<key>DATABASE_URL</key>
	<string>https://slash-a5e42.firebaseio.com</string>
</dict>
</plist>